<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h5 class="modal-title" id="myModalLabel1">Iniciar conversación</h5>
</div>
  <div class="modal-body" style="display: flex;">
        <input #msg type="text" class="form-control" placeholder="Preguntale algo al administrador..." aria-label="Username" formControlName="enviarInput" aria-describedby="basic-addon1">
        <button (click)="crearChat(msg.value)" class="btn btn-primary" >
            <i class="fas fa-paper-plane"></i>
        </button>
  </div>