<div class="chatContainer">
    <div class="card" style="width: 100%">
        <!--<div class="card-body">
          <p class="card-text">{{datos.nombre_casa}}</p>
          <p class="card-text">{{datos.nombre_cuarto}}</p>
          <p class="card-text">Precio: {{datos.precio}}</p>
          <p class="card-text">Semestre: {{datos.nombre_semestre}}</p>
          <p class="card-text">Estado {{datos.estado_chat}}</p>
        </div>-->
    </div>
    <div class="chat">
        <div *ngFor="let msg of msgs" style="display:flex" [ngClass]="{
            'chatSend':msg.usuario === '0',
            'chatRecieved':msg.usuario === '1'
          }" >
            <p class="chatStyle " >
                {{msg.mensaje}}
            </p>
        </div>
    </div>
</div>
<div class="input-group mb-3" >
    <form style="width: 100%;display: flex;" [formGroup]="enviarForm" (ngSubmit)="enviarMensaje()">
        <input type="text" class="form-control" placeholder="Escriba algo..." aria-label="Username" formControlName="enviarInput" aria-describedby="basic-addon1">
        <button type="submit" class="btn btn-primary" >
            <i class="fas fa-paper-plane"></i>
        </button>
    </form>

</div>

<br>
<br>
<br>
<br>


