<div class="jumbotron jumbotron-fluid rounded animated fadeIn fast m-4">
    <div class="container">
        <h1 class="display-4">Sobre Nosotros</h1>
        <!-- <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate voluptatum officia deserunt perferendis ullam necessitatibus porro. Deleniti, velit optio, illum accusantium sint corporis, aliquid dolores autem debitis harum accusamus.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam tenetur numquam, porro qui nisi dolorum eveniet quia hic quasi quisquam eos libero inventore itaque nesciunt ex vel. Consectetur, modi eveniet.</p> -->
        <img src="/assets/img/4.jpg" alt="">
    </div>
</div>
<br>
<br>
<br>
