<div class="container-fluid animated fadeIn fast mt-3">
    <div class="card mb-3 border-primary">
        <div class="card-header border-primary">
            <h4>{{ publicacion.titulo_pub }}</h4>
        </div>
        <div class="card-body">
            <div class="pt-4 text-center mb-3">
                <img [src]="rutaimgPublicacion+publicacion.publi_img" alt="img_principal" class="figure-img img-fluid rounded mx-auto" width="950" height="650">
            </div>
            <hr>
            <div class="container-fluid">
                <p> {{ publicacion.articulo_pub }} </p>
            </div>
            <hr>
            <div class="container-fluid">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let img of imgs">
                        <div class="slide">
                            <img [src]="rutaimgPublicacion+img.ruta_imagen_pub" height="350px" class="p-1">
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
        <div class="card-footer">
            <p class="card-text"><small class="text-muted"> {{ publicacion.creacion_pub | date:' dd/mm/yyyy h:mm a' }} </small></p>
        </div>
    </div>
</div>
<br>
<br>
<br>
