<div class="container-fluid animated fadeIn fast mt-3">
    <div class="card mb-3 border-primary">
        <div class="card-header border-primary text-center">
            <h4> {{ casa.nombre_casa}} </h4>
        </div>
        <div class="pt-4 text-center mb-3">
            <img [src]="rutaimgCasa+casa.principal_img" alt="img_principal" class="figure-img img-fluid rounded mx-auto" width="950" height="650">
        </div>
        <div class="card-body text-center">
            <h4>Imágenes Generales.</h4>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let img of imgs">
                    <div class="slide">
                        <img [src]="rutaimgCasa+img.ruta_imagen_casa" alt="imgs" width="300" height="300" class="p-1 figure-img rounded">
                    </div>
                </ng-template>
            </owl-carousel-o>
            <hr>
            <div class="container-fluid text-left">
                <h4>Descripción.</h4>
                <p> {{casa.descripcion_casa}} </p>
            </div>
            <div class="container-fluid text-left">
              <h4>Direccion.</h4>
              <p> {{casa.direccion_casa}} </p>
            </div>
            <hr>
            <hr>
            <div class="container-fluid text-left">
              <!--
              <h4>Calificaciónes de la casa.</h4>
                <h5>Instalaciones {{casa.instalaciones_cal}} </h5>
                <h5>Limpieza {{casa.limpieza_cal}} </h5>
                <h5>Ambiente {{casa.ambiente_cal}} </h5>
              -->
            </div>
        </div>
    </div>
<!--
    <ng-container *ngIf="puedeComentar == false && cancelado == false">
        <div class="card mb-3 border-success" *ngFor="let boleto of boletos">
            <div class="card-header border-success">
                <h4> {{boleto.nom_bol}} </h4>
            </div>
            <div class="card-body">
                <div class="row h-100">
                    <div class="col-md-7">
                        <h5>Descripción</h5>
                        <p> {{ boleto.descripcion_boleto }} </p>
                    </div>
                    <div class="col-md-2 my-auto text-center">
                        <h5>Precio</h5>
                        <p>{{boleto.precio_actual_boleto | currency:'MXN':'symbol'}} </p>
                    </div>
                    <div class="col-md-3 my-auto">
                        <div class="input-group inline-group m-0 p-0 justify-content-center align-items-center">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary btn-minus" (click)="cantBoleto.stepDown()">
                            <i class="fa fa-minus"></i>
                          </button>
                            </div>
                            <div class="w-25 m-0">
                                <input #cantBoleto class="form-control quantity text-center" min="1" value="1" type="number" disabled>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-plus" (click)="cantBoleto.stepUp()">
                        <i class="fa fa-plus"></i>
                      </button>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-outline-success" (click)="agregarCarrito(boleto.nom_bol, boleto.precio_actual_boleto, cantBoleto.value, boleto.id_boleto)">Agregar al Carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
-->
    <div class="card">
        <div class="card-header">
            <h4>Comentarios.</h4>
        </div>
        <div class="card-body">
            <h5 class="text-danger" *ngIf="sinComentarios == true"> No hay comentarios. </h5>
            <ng-container *ngIf="sinComentarios == false">
                <div class="card" *ngFor="let comentario of comentarios">
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col-md-2 text-center my-auto">
                                <h6>{{ comentario.nombre_usuario }}</h6>
                                <h5>{{ comentario.num_calificacion }} Puntos</h5>
                            </div>
                            <div class="col-md-8 text-left">
                                <p>{{ comentario.opinion }}</p>
                            </div>
                            <div class="col-md-2 my-auto">
                                <button type="button" class="btn btn-danger mx-auto my-auto d-block" *ngIf="comentario.eliminar == true" (click)="eliminarComentario(comentario.id_calificacion)">X</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="card-footer" *ngIf="comentar != false">
            <div class="row mt-2">
              <h5>Califique la casa</h5>
              <br>
                <div class="col-md-3 text-center">
                  <h6>Instalaciones<small> (1 - 10)</small></h6>
                    <div class="input-group inline-group m-0 p-0 justify-content-center align-items-center">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary btn-minus" (click)="cal.stepDown()">
                              <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <div class="w-25 m-0">
                            <input #cal class="form-control quantity text-center" min="1" max="10" value="1" step="1" type="number" disabled>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-plus" (click)="cal.stepUp()">
                              <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <h6>Ambiente<small> (1 - 10)</small></h6>
                    <div class="input-group inline-group m-0 p-0 justify-content-center align-items-center">
                      <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary btn-minus" (click)="cal.stepDown()">
                            <i class="fa fa-minus"></i>
                          </button>
                      </div>
                      <div class="w-25 m-0">
                          <input #cal class="form-control quantity text-center" min="1" max="10" value="1" step="1" type="number" disabled>
                      </div>
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary btn-plus" (click)="cal.stepUp()">
                            <i class="fa fa-plus"></i>
                          </button>
                      </div>
                  </div>
                    <h6>Limpieza<small> (1 - 10)</small></h6>
                    <div class="input-group inline-group m-0 p-0 justify-content-center align-items-center">
                      <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary btn-minus" (click)="cal.stepDown()">
                            <i class="fa fa-minus"></i>
                          </button>
                      </div>
                      <div class="w-25 m-0">
                          <input #cal class="form-control quantity text-center" min="1" max="10" value="1" step="1" type="number" disabled>
                      </div>
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary btn-plus" (click)="cal.stepUp()">
                            <i class="fa fa-plus"></i>
                          </button>
                      </div>
                  </div>
                </div>
                <div class="col-md-7">
                    <div class="input-group input-group-sm">
                        <textarea style="resize: none;" class="form-control" cols="290" rows="3" placeholder="Agrega un Comentario" #comentar (keyup.enter)="insertarComentario(comentar.value, cal.value)"></textarea>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-outline-primary mx-auto mt-4" type="button" (click)="insertarComentario(comentar.value, cal.value)">
                      Comentar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 d-block mx-auto text-center">
                    <small>Sólo puede comentar una vez. Exprese bien su opinión en un solo comentario.</small>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
