<nav class="navbar navbar-expand-lg navbar-dark bg-primary animated fadeIn fast">
    <a class="navbar-brand nav-logo" [routerLink]="['inicio']">
        <img src="/assets/img/icon.png" width="50" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['inicio']">Inicio</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['casas']">Casas</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['publicaciones']">Publicaciones</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['galeria']">Galeria</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['nosotros']">Nosotros</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active" *ngIf="loggedIn == true">
                <a class="nav-link" (click)="irChat()">Chat</a>
            </li>
            <li class="nav-item nav-button" *ngIf="loggedIn == false">
                <button class="btn btn-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#myModal">Iniciar Sesi&oacute;n</button>
            </li>
            <li class="nav-item ml-5" *ngIf="loggedIn == true && usuarioFB != null">
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="verPerfil()">Perfil</a>
                        <a class="dropdown-item" (click)="logOut()">Cerrar Sesión</a>
                        <a class="dropdown-item" (click)="realizarPago()">Pagar</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid text-center">
                    <button #cerrar type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel">Iniciar Sesi&oacute;n</h5>
                </div>
            </div>
            <div class="modal-body">
                <button class="btn btn-outline-primary btn-block" (click)="signInWithFB()">
                  <img class="float-left" src="/assets/img/facebook-icon.png" alt="facebook-icon" width="30px" height="30px">
                  Inicia sesion con Facebook
                </button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalRegistro" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalEventoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRegistroLabel">Finalizar Registro</h5>
                <button #cerrarModalRegistro type="button" class="close invisible" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <p>Para acceder a todas las funcionalidades de la página, por favor, termine su registro llenando el sigiente formulario</p>
                <form [formGroup]="formRegistro" (ngSubmit)="guardarRegistro()">

                    <div class="form-row mb-3">
                        <div class="col-md-12">
                            <label for="nombre">Correo: <small class="text-danger">*</small></label>
                            <input type="text" class="form-control" placeholder="Ingrese su correo" formControlName="correo" [class.is-invalid]="validacionCorreoR">
                            <small *ngIf="validacionCorreoR" class="form-text text-danger">Ingrese un correo válido.</small>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col-md-6">
                            <label for="tel">Teléfono: <small class="text-danger">*</small></label>
                            <input class="form-control" type="tel" id="tel" placeholder="888 888 8888" maxlength="10" formControlName="celular" [class.is-invalid]="validacionTelefono || validacionNumero">
                            <small *ngIf="validacionTelefono" class="form-text text-danger">Teléfono Obligatorio.</small>
                            <small *ngIf="validacionNumero" class="form-text text-danger">Ingrese un teléfono válido.</small>
                        </div>
                        <div class="col-md-6">
                            <label for="telext">Teléfono Adicional: <small class="text-danger">*</small></label>
                            <input class="form-control" type="tel" id="telext" placeholder="888 888 8888" maxlength="10" formControlName="celularExt" [class.is-invalid]="validacionTelefonoExtra || validacionNumeroExtra">
                            <small *ngIf="validacionTelefonoExtra" class="form-text text-danger">Teléfono Adicional Obligatorio.</small>
                            <small *ngIf="validacionNumeroExtra" class="form-text text-danger">Ingrese un teléfono válido.</small>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col-md-6">
                            <label for="nacimiento">Fecha de Nacimiento: <small class="text-danger">*</small></label>
                            <input type="date" class="form-control" id="nacimiento" placeholder="Ingrese la fecha de nacimiento del repartidor/a" formControlName="nacimiento" [class.is-invalid]="validacionNacimiento">
                            <small *ngIf="validacionNacimiento" class="form-text text-danger">Fecha de Nacimiento Obligatoria.</small>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="input-group-prepend">
                            <label for="nacionalidad">Nacionalidad: <small class="text-danger">*</small></label>
                          </div>
                          <select class="custom-select" id="nacionalidad" formControlName="nacionalidad">
                            <option selected>Seleccione una...</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Afganistán">Afganistán</option>
                            <option value="Albania">Albania</option>
                            <option value="Alemania">Alemania</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Anguilla">Anguilla</option>
                            <option value="Antigua y Barbuda">Antigua y Barbuda</option>
                            <option value="Antillas Holandesas">Antillas Holandesas</option>
                            <option value="Arabia Saudita">Arabia Saudita</option>
                            <option value="Argelia">Argelia</option>
                            <option value="Armenia">Armenia</option>
                            <option value="Aruba">Aruba</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Azerbaiján">Azerbaiján</option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Bélgica">Bélgica</option>
                            <option value="Belice">Belice</option>
                            <option value="Benin">Benin</option>
                            <option value="Bhutan">Bhutan</option>
                            <option value="Bielorusia">Bielorusia</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Bosnia Herzegovina">Bosnia Herzegovina</option>
                            <option value="Botswana">Botswana</option>
                            <option value="Brasil">Brasil</option>
                            <option value="Brunei">Brunei</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Burkina Faso">Burkina Faso</option>
                            <option value="Burundi">Burundi</option>
                            <option value="Cabo Verde">Cabo Verde</option>
                            <option value="Camboya">Camboya</option>
                            <option value="Camerún">Camerún</option>
                            <option value="Canadá">Canadá</option>
                            <option value="Chad">Chad</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Chipre">Chipre</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Comoros">Comoros</option>
                            <option value="Congo">Congo</option>
                            <option value="Corea del Norte">Corea del Norte</option>
                            <option value="Corea del Sur">Corea del Sur</option>
                            <option value="Costa de Marfil">Costa de Marfil</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Croacia">Croacia</option>
                            <option value="Cuba">Cuba</option>
                            <option value="Darussalam">Darussalam</option>
                            <option value="Dinamarca">Dinamarca</option>
                            <option value="Djibouti">Djibouti</option>
                            <option value="Dominica">Dominica</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egipto">Egipto</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Em. Arabes Un.">Em. Arabes Un.</option>
                            <option value="Eritrea">Eritrea</option>
                            <option value="Eslovaquia">Eslovaquia</option>
                            <option value="Eslovenia">Eslovenia</option>
                            <option value="España">España</option>
                            <option value="Estados Unidos">Estados Unidos</option>
                            <option value="Estonia">Estonia</option>
                            <option value="Etiopía">Etiopía</option>
                            <option value="Fiji">Fiji</option>
                            <option value="Filipinas">Filipinas</option>
                            <option value="Finlandia">Finlandia</option>
                            <option value="Francia">Francia</option>
                            <option value="Gabón">Gabón</option>
                            <option value="Gambia">Gambia</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Gibraltar">Gibraltar</option>
                            <option value="Grecia">Grecia</option>
                            <option value="Grenada">Grenada</option>
                            <option value="Groenlandia">Groenlandia</option>
                            <option value="Guadalupe">Guadalupe</option>
                            <option value="Guam">Guam</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guayana Francesa20">Guayana Francesa</option>
                            <option value="Guinea">Guinea</option>
                            <option value="Guinea Ecuatorial">Guinea Ecuatorial</option>
                            <option value="Guinea-Bissau">Guinea-Bissau</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Haití">Haití</option>
                            <option value="Holanda">Holanda</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hong Kong">Hong Kong</option>
                            <option value="Hungría">Hungría</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Irak">Irak</option>
                            <option value="Irán">Irán</option>
                            <option value="Irlanda">Irlanda</option>
                            <option value="Islandia">Islandia</option>
                            <option value="Islas Cayman">Islas Cayman</option>
                            <option value="Islas Cook">Islas Cook</option>
                            <option value="Islas Faroe">Islas Faroe</option>
                            <option value="Islas Marianas del Norte">Islas Marianas del Norte</option>
                            <option value="Islas Marshall">Islas Marshall</option>
                            <option value="Islas Solomon">Islas Solomon</option>
                            <option value="Islas Turcas y Caicos">Islas Turcas y Caicos</option>
                            <option value="Islas Vírgenes">Islas Vírgenes</option>
                            <option value="Islas Wallis y Futuna">Islas Wallis y Futuna</option>
                            <option value="Israel">Israel</option>
                            <option value="Italia">Italia</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japón">Japón</option>
                            <option value="Jordania">Jordania</option>
                            <option value="Kazajstán">Kazajstán</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Kirguistán">Kirguistán</option>
                            <option value="Kiribati">Kiribati</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Laos">Laos</option>
                            <option value="Lesotho">Lesotho</option>
                            <option value="Letonia">Letonia</option>
                            <option value="Líbano">Líbano</option>
                            <option value="Liberia">Liberia</option>
                            <option value="Libia">Libia</option>
                            <option value="Liechtenstein">Liechtenstein</option>
                            <option value="Lituania">Lituania</option>
                            <option value="Luxemburgo">Luxemburgo</option>
                            <option value="Macao">Macao</option>
                            <option value="Macedonia">Macedonia</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malasia">Malasia</option>
                            <option value="Malawi">Malawi</option>
                            <option value="Mali">Mali</option>
                            <option value="Malta">Malta</option>
                            <option value="Marruecos">Marruecos</option>
                            <option value="Martinica">Martinica</option>
                            <option value="Mauricio">Mauricio</option>
                            <option value="Mauritania">Mauritania</option>
                            <option value="Mayotte">Mayotte</option>
                            <option value="México">México</option>
                            <option value="Micronesia">Micronesia</option>
                            <option value="Moldova">Moldova</option>
                            <option value="Mónaco">Mónaco</option>
                            <option value="Mongolia">Mongolia</option>
                            <option value="Montserrat">Montserrat</option>
                            <option value="Mozambique">Mozambique</option>
                            <option value="Myanmar">Myanmar</option>
                            <option value="Namibia">Namibia</option>
                            <option value="Nauru">Nauru</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Níger">Níger</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Noruega">Noruega</option>
                            <option value="Nueva Caledonia">Nueva Caledonia</option>
                            <option value="Nueva Zelandia">Nueva Zelandia</option>
                            <option value="Omán">Omán</option>
                            <option value="Pakistán">Pakistán</option>
                            <option value="Panamá">Panamá</option>
                            <option value="Papua Nueva Guinea">Papua Nueva Guinea</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Perú">Perú</option>
                            <option value="Pitcairn">Pitcairn</option>
                            <option value="Polinesia Francesa">Polinesia Francesa</option>
                            <option value="Polonia">Polonia</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Qatar">Qatar</option>
                            <option value="RD Congo">RD Congo</option>
                            <option value="Reino Unido">Reino Unido</option>
                            <option value="República Centroafricana">República Centroafricana</option>
                            <option value="República Checa">República Checa</option>
                            <option value="República Dominicana">República Dominicana</option>
                            <option value="Reunión">Reunión</option>
                            <option value="Rumania">Rumania</option>
                            <option value="Rusia">Rusia</option>
                            <option value="Rwanda">Rwanda</option>
                            <option value="Sahara Occidental">Sahara Occidental</option>
                            <option value="Saint Pierre y Miquelon">Saint Pierre y Miquelon</option>
                            <option value="Samoa">Samoa</option>
                            <option value="Samoa Americana">Samoa Americana</option>
                            <option value="San Cristóbal y Nevis">San Cristóbal y Nevis</option>
                            <option value="San Marino">San Marino</option>
                            <option value="Santa Elena">Santa Elena</option>
                            <option value="Santa Lucía">Santa Lucía</option>
                            <option value="Sao Tomé y Príncipe">Sao Tomé y Príncipe</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Serbia y Montenegro">Serbia y Montenegro</option>
                            <option value="Seychelles">Seychelles</option>
                            <option value="Sierra Leona">Sierra Leona</option>
                            <option value="Singapur">Singapur</option>
                            <option value="Siria">Siria</option>
                            <option value="Somalia">Somalia</option>
                            <option value="Sri Lanka">Sri Lanka</option>
                            <option value="Sudáfrica">Sudáfrica</option>
                            <option value="Sudán">Sudán</option>
                            <option value="Suecia">Suecia</option>
                            <option value="Suiza">Suiza</option>
                            <option value="Suriname">Suriname</option>
                            <option value="Swazilandia">Swazilandia</option>
                            <option value="Taiwán">Taiwán</option>
                            <option value="Uruguay">Uruguay</option>
                          </select>
                    </div>

                    <hr>

                    <div class="input-group form-row mb-3">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-success" type="submit" [disabled]="formRegistro.invalid">Finalizar Registro</button>
                            <button #modalRegistro class="invisible" type="button" data-toggle="modal" data-target="#modalRegistro">xxx</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalBloqueo" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalEventoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBloqueoLabel">Usuario Bloqueado</h5>
                <button #cerrarModalBloqueo type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <p>Su usuario ha sido bloqueado, las razones son las siguientes</p>

                <div class="form-row mb-3">
                    <div class="col-md-12">
                        <p>{{ mensaje }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalChat1" tabindex="-1" role="dialog" aria-labelledby="pagarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid text-center">
                    <h5 class="modal-title" id="pagarLabel">Iniciar conversación</h5>
                    <button #cerrarModalChat1 type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body" style="display: flex;">
                <input #msg type="text" class="form-control" placeholder="Preguntale algo al administrador..." aria-label="Username" formControlName="enviarInput" aria-describedby="basic-addon1">
                <button (click)="crearChat(msg.value)" class="btn btn-primary" >
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
    <button #modalChat1 class="invisible" type="button" data-toggle="modal" data-target="#modalChat1">xxx</button>
</div>

<div class="modal fade" id="modalPago1" tabindex="-1" role="dialog" aria-labelledby="pagarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid text-center">
                    <button #cerrarPagar type="button" class="invisible" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="pagarLabel">Pagar orden</h5>
                </div>
            </div>
            <div class="modal-body">
                <p> Casa: {{datospago.nombre_casa}}</p>
                <p> Cuarto: {{datospago.nombre_cuarto}}</p>
                <p> Semestre: {{datospago.nombre_semestre}}</p>
                <p> Precio: {{datospago.precio}}</p>
                <div class="buttonDiv">
                    <button class="btn btn-success" (click)="mostrarTarjeta()">Ingresar datos</button>
                </div>
                <br/>
            </div>
            <form *ngIf="showCreditcard==true" novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
                <input class="form-control inputCards" type="text" formControlName="name" placeholder="Ingrese su nombre">
                <div class="inputCards">
                    <ngx-stripe-card 
                    [options]="cardOptions"
                    [elementsOptions]="elementsOptions"
                  ></ngx-stripe-card>
                </div>
                
                <div *ngIf="pagando==false; then boton else spinner"></div>
                <ng-template #boton>
                    <div class="buttonDiv">
                        <button class="btn btn-success botonPagar"  type="submit">Pagar</button>
                    </div>
                </ng-template>
                <ng-template #spinner>
                    <div class="buttonDiv">
                        <div class="spinner-border text-primary buttonDiv" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                    </div>                   
                </ng-template>
            </form>
        </div>
    </div>
    <button #modalPago1 class="invisible" type="button" data-toggle="modal" data-target="#modalPago1">xxx</button>
</div>

<!-- <div class="modal fade" id="modalPago" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalEventoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPagoLabel">Pago</h5>
                <button #cerrarModalPago type="button" class="close invisible" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <p>Datos de el pago: </p>
                <form (ngSubmit)="realizarPago()">

                    <div class="form-row mb-3">
                        <div class="col-md-12">
                            <label for="nombre">Casa: {{datospago.nombre_casa}}<small class="text-danger">*</small></label>
                        </div>
                        <div class="col-md-12">
                            <label for="nombre">Cuarto: {{datospago.nombre_cuarto}}<small class="text-danger">*</small></label>
                        </div>
                    </div>

                    <hr>

                    <div class="form-row mb-3">
                        <div class="col-md-6">
                            <label for="tel">Semestre: {{datospago.nombre_semestre}}</label>
                        </div>
                        <div class="col-md-6">
                            <label for="telext">Precio: {{datospago.precio}}<small class="text-danger">*</small></label>
                        </div>
                    </div>

                    <hr>

                    <div class="input-group form-row mb-3">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-success" type="submit">Pagar</button>
                            <button #modalPago class="invisible" type="button" data-toggle="modal" data-target="#modalPago">xxx</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<style>
    .inputCards{
        padding: 3%;
        margin: 3%;
        width: 94%;
    }

    .botonPagar{
        margin: 3%;
    }

    .buttonDiv{
        display: flex;
        justify-content: center;
    }
</style>

