<nav class="navbar navbar-expand-lg navbar-dark bg-primary animated fadeIn fast">
    <a class="navbar-brand nav-logo" [routerLink]="['inicio']">
        <img src="/assets/img/icon.png" width="50" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['inicio']">Inicio</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['casas']">Casas</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['publicaciones']">Publicaciones</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['galeria']">Galeria</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['nosotros']">Nosotros</a>
            </li>
            <li class="nav-item nav-button" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['carrito']"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item nav-button" *ngIf="!loggedIn">
                <button class="btn btn-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#myModal">Iniciar Sesi&oacute;n</button>
            </li>
            <li class="nav-item ml-5" *ngIf="loggedIn">
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="verPerfil()">Perfil</a>
                        <a class="dropdown-item" (click)="logOut()">Cerrar Sesión</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid text-center">
                    <button #cerrar type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel">Iniciar Sesi&oacute;n</h5>
                </div>
            </div>
            <div class="modal-body">
                <button class="btn btn-outline-primary btn-block" (click)="signInWithFB()">
                  <img class="float-left" src="/assets/img/facebook-icon.png" alt="facebook-icon" width="30px" height="30px">
                  Inicia sesion con Facebook
                </button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalRegistro" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalEventoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRegistroLabel">Finalizar Registro</h5>
                <button #cerrarModalRegistro type="button" class="close invisible" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <p>Para acceder a todas las funcionalidades de la página, por favor, termine su registro llenando el sigiente formulario</p>
                <form [formGroup]="formRegistro" (ngSubmit)="guardarRegistro()">

                    <div class="form-row mb-3">
                        <div class="col-md-12">
                            <label for="nombre">Correo: <small class="text-danger">*</small></label>
                            <input type="text" class="form-control" placeholder="Ingrese su correo" formControlName="correo" [class.is-invalid]="validacionCorreoR">
                            <small *ngIf="validacionCorreoR" class="form-text text-danger">Ingrese un correo válido.</small>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col-md-6">
                            <label for="tel">Teléfono: <small class="text-danger">*</small></label>
                            <input class="form-control" type="tel" id="tel" placeholder="888 888 8888" maxlength="10" formControlName="celular" [class.is-invalid]="validacionTelefono || validacionNumero">
                            <small *ngIf="validacionTelefono" class="form-text text-danger">Teléfono Obligatorio.</small>
                            <small *ngIf="validacionNumero" class="form-text text-danger">Ingrese un teléfono válido.</small>
                        </div>
                        <div class="col-md-6">
                            <label for="telext">Teléfono Adicional: <small class="text-danger">*</small></label>
                            <input class="form-control" type="tel" id="telext" placeholder="888 888 8888" maxlength="10" formControlName="celularExt" [class.is-invalid]="validacionTelefonoExtra || validacionNumeroExtra">
                            <small *ngIf="validacionTelefonoExtra" class="form-text text-danger">Teléfono Adicional Obligatorio.</small>
                            <small *ngIf="validacionNumeroExtra" class="form-text text-danger">Ingrese un teléfono válido.</small>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col-md-6">
                            <label for="nacimiento">Fecha de Nacimiento: <small class="text-danger">*</small></label>
                            <input type="date" class="form-control" id="nacimiento" placeholder="Ingrese la fecha de nacimiento del repartidor/a" formControlName="nacimiento" [class.is-invalid]="validacionNacimiento">
                            <small *ngIf="validacionNacimiento" class="form-text text-danger">Fecha de Nacimiento Obligatoria.</small>
                        </div>
                    </div>

                    <hr>

                    <div class="input-group form-row mb-3">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-success" type="submit" [disabled]="formRegistro.invalid">Finalizar Registro</button>
                            <button #modalRegistro class="invisible" type="button" data-toggle="modal" data-target="#modalRegistro">xxx</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalBloqueo" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalEventoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBloqueoLabel">Usuario Bloqueado</h5>
                <button #cerrarModalBloqueo type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <p>Su usuario ha sido bloqueado, las razones son las siguientes</p>

                <div class="form-row mb-3">
                    <div class="col-md-12">
                        <p>{{ mensaje }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="modalPago" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalEventoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPagoLabel">Pago</h5>
                <button #cerrarModalPago type="button" class="close invisible" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <p>Datos de el pago: </p>
                <form (ngSubmit)="realizarPago()">

                    <div class="form-row mb-3">
                        <div class="col-md-12">
                            <label for="nombre">Casa: {{datospago.nombre_casa}}<small class="text-danger">*</small></label>
                        </div>
                        <div class="col-md-12">
                            <label for="nombre">Cuarto: {{datospago.nombre_cuarto}}<small class="text-danger">*</small></label>
                        </div>
                    </div>

                    <hr>

                    <div class="form-row mb-3">
                        <div class="col-md-6">
                            <label for="tel">Semestre: {{datospago.nombre_semestre}}</label>
                        </div>
                        <div class="col-md-6">
                            <label for="telext">Precio: {{datospago.precio}}<small class="text-danger">*</small></label>
                        </div>
                    </div>

                    <hr>

                    <div class="input-group form-row mb-3">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-success" type="submit">Pagar</button>
                            <button #modalPago class="invisible" type="button" data-toggle="modal" data-target="#modalPago">xxx</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->