<div class="container-fluid" *ngIf="router.url != '/admin'">
    <footer class="fixed-bottom">
        <div class="card footer mb-0">
            <div class="row">
                <div class="col-md-1 text-center">
                    <img class="card-img-bottom " src="/assets/img/icon.png" alt="Card image cap" style="height: 70px; width: 70px;">
                </div>
                <div class="col-md-5 text-center">
                    <h5>Redes Sociales</h5>
                    <p class="card-text " style="line-height: 0px;"><small class="text-muted ">Facebook</small></p>
                    <p class="card-text " style="line-height: 0px;"><small class="text-muted ">Instagram</small></p>
                </div>
                <div class="col-md-6 text-center">
                    <h5>Contacto</h5>
                    <p class="card-text " style="line-height: 0px;"><small class="text-muted ">+52 33333333</small></p>
                    <p class="card-text " style="line-height: 0px;"><small class="text-muted ">correo@gmail.com</small></p>
                </div>
            </div>
        </div>
    </footer>
</div>
